
.navCustom{
    border: 1px solid black;
}

.tableCustom{
    margin-top: 50px
}

.tdTable{
    text-align: center
}

.trCustom{
    text-align: center;
}

.buttonSelect{
  margin-top: 20px;
  margin-bottom: 30px;
}

.buttonSelect > .memorySelect{
   text-align: center;
}
