
.navCustom{
    border: 1px solid black;
}

.tableCustom{
    margin-top: 50px
}

.tdTable{
    text-align: center
}

.trCustom{
    text-align: center;
}

.buttonSelect{
  margin-top: 20px;
  margin-bottom: 30px;
}

.buttonSelect > .memorySelect{
   text-align: center;
}

.divTab{
	margin-top: 20px;
}

.divNext{
	margin-top: 30px;
	margin-bottom: 60px;
	text-align: right;
}

.blue{
	background-color: #2196f3!important;
}

footer.page-footer {
    color: #fff;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.6);
}

.footerCustom{
	margin-top: 60px

}

.ulText > li > a{
	color: white;
}

.card{
	border: 1px solid rgb(0, 0, 0);
}

.alertCustom{
	margin-top: 20px
}

.progress{
	height: 30px;
}

.divProgress{
	margin-top: 94px;
	margin-bottom: 30px
}

.divTable{
	margin-top: 50px;
}


.startButton{
	margin-top: 20px
}
